{% extends 'base2.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
<div class="jumbotron loginbox">
	<legend>Ingrese los datos del alumno a cargar en el historial</legend>
		<form  role="form" method="POST" enctype="multipart/form-data">{% csrf_token %} 
					
  					
					<p>
						
						<label>Alumno</label>
						<div class="input-group">	
						<input type="text" name="alumno" class="form-control"  id="addAlumno" placeholder="Ingrese el nombre del alumno" required>

						<span class="input-group-addon"> 
							<a  href="" class="btn btn-btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal" style="width:65px;height:40px; "><img class="eliminar" src="/static/ima/add.png" style="height: 20px;width: 20px;" title="Agregar"></a>
						</span>
						</div>	
					</p>
					
					<p>
						<label>Materia</label>
						<input type="text" name="materia" class="form-control" placeholder="Ingrese el nombre de la materia" required>
					</p>
					<p>
						<label>Nota</label>
				        	<input type="number" name="nota" class="form-control" placeholder="Ingrese la nota del alumno" required>
					</p>
					<p><label>Codigo de Acta</label>
						{{form.cod_acta}}
					</p>
					<p>
					    <label>Fecha</label>
						<input type="date" name="fecha" id="alumno" required>
						<!-- <h4  style="color:red">Introduzca la fecha en formato AAAA-MM-DD</h4> -->	
					</p>

							 
				 <div class="row">								
						<div class="col-xs-6 col-sm-6 col-md-6">
							<button type="submit" class="btn btn-labeled btn-success" onclick="Guardar()">
							<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Guardar</button>
							<button type="button" class="btn btn-labeled btn-danger" onclick="apreteCancelar()">
							<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</button>
						</div>
				  </div>
		</form>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Lista de alumnos</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" method="post" action="/guardar-pregunta">
          <div class="form-group">
            <div class="col-sm-10">
             <table>
             	{% for alumno in lista_alumnos %}
             	<input type="checkbox" name="alumnolista" value="{{alumno.nombre_apellido}}">
             	{{alumno.nombre_apellido}}<br>	          	
             	{% endfor %}
             </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-btn" data-dismiss="modal">Atrás</button>
        <button type="button" class="btn btn-btn btn-warning" id="enviar" data-dismiss="modal"
        />Enviar</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>

$(document).ready(function(){
    $('#enviar').click(function() {
        var alumnos = new Array();
        $("[name='alumnolista']:checked").each(function() {
            alumnos.push($(this).val());
        });

    	var input = $( "#addAlumno" );
		input.val(alumnos);

    });
});

 $('#myModal').modal('hide');

   function apreteCancelar(){
   		
		window.location='/index-bedel/';
     
      }

function searchOpen() {
    var search = $('#txtSearch').val()
    var data = {
        search: search
    };
    $.ajax({
        url: '/ajax/url/',
        data: data,
        dataType: 'jsonp',
        jsonp: 'callback',
        jsonpCallback: 'searchResult'
    });
}


function searchResult(data) {
	
    $( "#txtSearch" ).autocomplete ({
        source: data
    });
}
</script>
{% endblock %}