{% extends 'base2.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>
	         		<a href="{% url 'bedel:bedel' %}" title="Volver"><img src="/static/ima/volver.png" class="img-responsive boton-volver"></a>
	         		Lista de Materias
	         	</legend>
					<div class="jumbotron">
						<img src="/static/ima/materias.png" class="ima-materia">
					  <div class="container">
			  	  		

					 	<table class="table table-bordered table-striped table-hover materias">
					        <tr >
								<th align="center"><center>Carrera</center></th>
								<th align="center"><center>Materia</center></th>
								<!-- <th align="center"><center>Eliminar</center></th> -->
								<th align="center"><center>Modificar</center></th>
							</tr>
							
							{% for m in materia %}
							<tr>
                  	 			<td>{{m.carrera}}<br></td><br>
                  				<td>{{m.nombre}}<br></td><br>
				  				<td><a href="{% url 'bedel:user_update' m.id %}"><img class="eliminar" src="/static/ima/editar.png" style="height: 25px;width: 25px;" title="Editar"></a></td>
                 			</tr>

                     		{% endfor %}
							
						</table>
					   </div>
                    
					</div>
			  </aside>
		</section>
</section>
{% endblock %}