{% extends 'base2.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>Lista de Alumnos inscriptos</legend>
				  <div class="jumbotron">
				     	 <div class="container">
				    <table class="table table-bordered table-striped table-hover materias1">
				     <h3>Los resultados obtenidos para su busqueda son:</h3>
				     	<tr >
								<th align="center"><center>Carrera</center></th>
								<th align="center"><center>Nombre</center></th>
								<th align="center"><center>Eliminar</center></th>
								<th align="center"><center>Modificar</center></th>
						</tr>
							
							{% for a in alumnos %}
							<tr>
             				     <td>{{a.carrera}}<br></td><br>
                  				 <td>{{a.nombre_apellido}}<br></td><br>
				 				 <td><a href=""><img class="eliminar" src="/static/ima/eliminar.png" style="height: 25px;width: 25px;" title="Eliminar"></a></td>
				 				 <td><a href="{% url 'bedel:user_update' alumnos.username %}"><img class="eliminar" src="/static/ima/editar.png" style="height: 25px;width: 25px;" title="Editar"></a></td>
					        </tr>

                     		{% endfor %}
							
				    </table>
					       </div>
                    

					     
				  </div>

				
			</aside>
		 </section>
			
	</section>
{% endblock %}