{% extends 'base2.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>Lista de Alumnos Inscriptos en Materia</legend>
					<div class="jumbotron">
					 <div class="container">
					 		<h3>Acta de examen</h3>
					 		<br>
					 	<table class="table table-bordered table-striped table-hover materias">		
							<tr >
								<th align="center"><center>Materia</center></th>
								<th align="center"><center>Nombre</center></th>
							</tr>
							{% for alumno in total_alumnos_acta %}
							<tr>
                 		 		<td>{{alumno.materia.nombre}}<br></td><br>
                  				<td>{{alumno.alumno.nombre_apellido}}<br></td><br>
                 			 </tr>
                     		{% endfor %}
						</table>
				   </div>
					</div>
                    </div>
			</aside>
		 </section>
			
	</section>
{% endblock %}