{% extends 'base2.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>Lista de Alumnos Inscriptos en Materia</legend>
					<div class="jumbotron">
						<img src="/static/ima/materias.png" class="ima-materia">
					 <div class="container">

					 	<table class="table table-bordered table-striped table-hover materias">
			<div class="buscador">
    	       <form action="/consulta/" method="GET">  		
  				<div class="input-group" style="height:20px;">	
  				<input  class="form-control" type="search" name="consulta" placeholder="Buscar alumno...">
  				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
  			</form>
  		</div>					

					<tr >
								<th align="center"><center>Carrera</center></th>
								<th align="center"><center>Nombre</center></th>
							</tr>
							
							{% for alumno in total_alumnos_acta %}
							<tr>
                  <td>{{alumno.carrera}}<br></td><br>
                  <td>{{alumno.nombre_apellido}}<br></td><br>
				
						
                 			 </tr>

                     		{% endfor %}
							
						</table>
					</div>
                    
								 
						</div>
				</div>
				
			</aside>
		 </section>
			
	</section>
{% endblock %}