{% extends 'base2.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>
	         		<a href="{% url 'bedel:bedel' %}" title="Volver"><img src="/static/ima/volver.png" class="img-responsive boton-volver"></a>
	         		Lista de Carreras</legend>
					<div class="jumbotron">
						<img src="/static/ima/materias.png" class="ima-materia">
					 <div class="container">

					 	<table class="table table-bordered table-striped table-hover materias">
							<tr >
								<th align="center"><center>Carreras</center></th>
								<th align="center"><center>Eliminar</center></th>
								<th align="center"><center>Modificar</center></th>
							</tr>
							
							{% for carrera in lista_carrera %}
							<tr>
                  <td><a href="">{{carrera.nombre}}<br></a></td><br>
				 <td><a href="{% url 'bedel:carrera_confirm_delete' carrera.id %}"><img class="eliminar" src="/static/ima/eliminar.png" style="height: 25px;width: 25px;" title="Eliminar"></a>
				 </td>
				<td><a href="{% url 'bedel:editar_carrera' carrera.id %}"><img class="eliminar" src="/static/ima/editar.png" style="height: 25px;width: 25px;" title="Editar"></a>
				 </td>
						
                 			 </tr>

                     		{% endfor %}
							
						</table>
					</div>
                    
								 
						</div>
				</div>
				
			</aside>
		 </section>
			
	</section>
{% endblock %}