
html{


}

body{
	background-color: #34A6C8;	
}


section#contenedor{
   margin: 0.5em auto;
   max-width: 1400px;
   padding: 0;
}
section#principal{
   background: #1e6381;
   border-radius: 0.5em;
   
   margin: 0.5em auto;
   max-width: 1102px;
   min-height:250px;
   padding: 0.25em;
   vertical-align:top;
   width:100%;
   text-align: center;
   
}

aside{
   width:60%;
   background: #1e6381;
   border-radius: 0.5em;
   display:inline-block;
   margin: 0.5em auto;
   max-width: 1110px;
   min-height:464px;
   padding: 0.25em;
   vertical-align:top;
   width:95%;
   text-align: center;
}
aside img{
 border-radius: 0.5em;
}

.contenedorform{
  background-color: white;
  border-radius: 0.5em;
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 1.2em;  
  width: 500px;
  height:450px;

}
.contenedorcont{
  float: right;
  padding-right: 8em;
  padding: 2em;
  display: inline-block;

}

.datos{
  padding-top: 4em;
  margin-right: 15em;


}

.error1{

  height: 390px;
  width: 600px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  vertical-align: center;
  text-align: center;
  margin-left: 15em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  
  vertical-align: top;

}

.errormsj
{
  color: red;
  font-size: 22px;
  font-style: normal;
  margin: 0;
  margin-left: 5em;
  padding: 0.5em 0.5em 0 0;
}

.formulariocontacto{
  width: 450px;
  height: 350px;
}

.formedit{
  float: left;
  width: 550px;
  padding: 5em;

}
.imagenedit{
  float: right;
}

.imaedit{
  margin-top: 12em;
  height: 260px;
  width: 260px;
}

.imaperfil{
  border-radius: 0.5em;
  box-shadow: 10px 20px 90px black;
  height: 300px;
  width: 260px;
}

.infocontacto{
  width:200px ;
  height:300px;
  float: right;
  margin-left: 10em; 
}

.navegadorperfil{
  float: right;

}

.perfil{

  float: left;
  margin-left: 5em
}


.username{
  color: black;
  font-size: 15px;
  font-style: italic;
  font-family: fantasy;
  padding-top:1.5em;
  padding-right: 0.5em;
  
}


footer{
  background: #1e6381;
  color:#000;
  font-size:0.85em;
  border-radius: 0.5em;
  margin: 0.5em auto;
  max-width: 1102px; 
  max-height:60px;
  padding: 0.75em;
  text-align: center;
}