{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>Selecciona la materia en la que deseas inscribirte 
	         		a cursar</legend>
					<div class="jumbotron">
					 <div class="container">
					 	<table class="table table-bordered table-striped table-hover materias">
							<tr >
								<th align="center"><center>Materias</center></th>
							</tr>
							
							{% for mate in total_materias %}
							<tr>
                  <td><a href="{% url 'home:materia_detail' mate.id %}">{{mate.nombre}}<br></a></td><br>
                  </tr>
                     		{% endfor %}
												
						</table>
					</div>
                    
								 
						</div>
				</div>
				
			</aside>
		 </section>
			
	</section>
{% endblock %}