{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>
	         		<a href="{% url 'alumnos:index' %}" title="Volver"><img src="/static/ima/volver.png" class="img-responsive boton-volver"></a>
	         		<h2 style="color:#FF8000; font-family: 'Acme', sans-serif;">
	         			Selecciona la materia en la que deseas inscribirte 
	         			a cursar
	         		</h2>
	         	</legend>
					<div class="jumbotron">
						<img src="/static/ima/materias.png" class="ima-materia">
					 <div class="container">

					 	<table class="table table-bordered table-striped table-hover materias">
							<tr >
								<th align="center"><center>Año</center></th>
								<th align="center"><center>Materias</center></th>
							</tr>
							
								{% for mate in total_materias %}
							<tr>
								<td>{{mate.anio}}</td>
                 				 <td><a href="{% url 'home:materia_detail' mate.id %}">{{mate.nombre}}<br></a></td><br>
                  			</tr>
                     			{% endfor %}						
						</table>
					</div>
                   </div>
			</aside>
		</section>	
	</section>
{% endblock %}