{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>{{object.nombre}}</legend>
					<div class="jumbotron" class ="datos1">
					 <div class="container">
					 	<div class="table-responsive">
					 <form method="POST">{% csrf_token %}
						<table class="table table-bordered table-striped table-hover">
							<tr>
								<th>Carrera</th>
								<th>Materia</th>
								<th>Duracion</th>
							</tr>
							<tr>
								<td> {{ object.carrera }}</td>
								<td>{{ object.nombre }}</td>
								<td> {{object.duracion}}</td>
							</tr>					
						</table>

					</div>

					<div class="col-xs-6 col-sm-6 col-md-6">

		
				
							<button type="submit" class="btn btn-labeled btn-success" onclick="Guardar()">
							<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Inscribirse</button>
							<button type="button" class="btn btn-labeled btn-danger" onclick="apreteCancelar()">
							<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</button>
						</form>
											</div>
									
									</div>

                    
                     
                    
				</div>
				
			</aside>
		 </section>
			
	</section>
<script>

// function Guardar(){
// 	alert('Tu inscripcion se realizo correctamente')
	
// }

   function apreteCancelar(){
   		if (confirm("¿realmente desea cancelar la preinscripción?"))
	{
		window.location='/inscripcion-materias/';
	}
      

      }
</script>
{% endblock %}