{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
				<legend>Selecciona la materia en la que deseas inscribirte 
	         		a rendir Final</legend>
					<div class="jumbotron">
						<h3>Examenes Finales</h3>
					 <div class="container">
					 	<table class="table table-bordered table-striped table-hover materias">
							<tr >
								<th align="center"><center>Materias</center></th>
							</tr>
							
							{% for materias in total_materias_finales %}
							<tr>
                  <td><a href="{% url 'home:create_final' materias.id %}">{{materias.nombre}}<br></a></td><br>
                  </tr>
                     		{% endfor %}
												
						</table>
					</div>
                    
								 
						</div>


					</div>
				</div>
				
			</aside>
		 </section>
			
	</section>
{% endblock %}