{% extends 'base2.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
<div class="jumbotron loginbox">
			<legend>Ingrese los datos de la Mesa de Examen Final</legend>
				<form  role="form" method="POST" enctype="multipart/form-data">{% csrf_token %} 
								 
								 {{ form.as_p }}
				
					<div class="row">						
						<div class="col-xs-6 col-sm-6 col-md-6">
							<button type="submit" class="btn btn-labeled btn-success" onclick="apreteGuardar()">
							<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Guardar</button>
							<button type="button" class="btn btn-labeled btn-danger" onclick="apreteCancelar()">
							<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</button>
						</div>
					</div>
				</form>
</div>
<script>
	function apreteGuardar(){	
		
		window.location='/index-bedel/lista-mesa-finales/';
      }

   function apreteCancelar(){
   		
		window.location='/index-bedel/lista-mesa-finales/';
     

      }
</script>

{% endblock %}