{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
<div class="container">

    <div class="row" >
        <h2 style="color:#FF8000; font-family: 'Acme', sans-serif;">
        	Contactanos</h2>
        <div class="col-md-6">
        	<div class="contenedorform">
		            <div class="formulariocontacto">
		                    <form action="." method="POST">{% csrf_token %}
		                
			                 <div class="form-group">
				                {{ form.as_p }}                              
				               <button type="submit" class="btn btn-primary pull-right" class="btn-contacto">
				                        Enviar Mensaje
				                </button>
				              </div>
				              </form>
		            </div>
		    </div>
        </div>
        <div class="col-md-4">
        <div class="contenedorcont">
		        <div class="infocontacto">
				            <form>
				            <legend style="color:#FF8000; font-family: 'Acme', sans-serif;"><span class="glyphicon glyphicon-globe"></span >Nuestro Establecimiento</legend>
				            <address>
				                <strong style="color:#FF8000; font-family: 'Acme', sans-serif;">I.S.F.D Dr. José S. Salinas.</strong><br>
				                <p style="color:#FF8000; font-family: 'Acme', sans-serif;">
				                	Dirección: José S. Salinas N° 350<br>
				                	Dpto General Belgrano - 5383
				                </p>
				                <abbr title="Phone">
				                 <p style="color:#FF8000; font-family: 'Acme', sans-serif;">
				                 Tel:</abbr>
				                (03826)-15479691</p>
				            </address>
				            <address>
				                <a href="mailto:#" style="color:#FF8000; font-family: 'Acme', sans-serif;"> E-mail : informacion@ega.com</a>
				            </address>
				            <center>
							 	<h6 style="color:#FF8000; font-family: 'Acme', sans-serif;">Siguenos en nuestras redes sociales</h6>
							 	<a href=""><img src="/static/ima/facebook.png" class='rotateMe' title="Facebook"></a>
							 	<a href=""><img src="/static/ima/twitter.png" class='rotateMe' title="Twitter"></a>
							 </center>
				            </form>
			        </div>
	    </div>
	    </div>
    </div>
</div>

{% endblock %}
