{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>

	         	<legend>
	         		<a href="{% url 'alumnos:index' %}" title="Volver">
	         			<img src="/static/ima/volver.png" class="img-responsive boton-volver"></a>
	         		<h2 style="color:#FF8000; font-family: 'Acme', sans-serif;">Historial Academico {{user.nombre_apellido}} </h2></legend>
					<div class="table-responsive">
                 
						<table class="table table-bordered table-striped table-hover">
							<tr>
								<th>Alumno</th>
								<th>Materia</th>
								<th>Nota</th>
								<th>Fecha de Final</th>
								<th>Codigo de Acta</th>
							</tr>
					  {% for historial in historial_materias  %}
							
							<tr style="color:black; font-family: 'Acme', sans-serif;">
								<td>{{ historial.alumno}}</td>
								<td>{{ historial.materia}}</td>
								<td>{{ historial.nota}}</td>
								<td>{{ historial.fecha}}</td>
								<td>{{ historial.cod_acta}}</td>
							</tr>
							
						
						{% endfor %}

							
						</table>

					</div>
					<div class="imprimir">
		  	   			 <a href="{% url 'imprimir-historial' %}"> <img class="pdf" src="/static/ima/pdf.png" title="Descargar Historial Academico" alt="Descargar"></a>
		   			</div>
			</aside>
		 </section>
			
	</section>
{% endblock %}
