{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>Historial Academico {{user.nombre_apellido}}</legend>
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-hover">
							<tr>
								<th>Codigo</th>
								<th>Materia</th>
								<th>Nota</th>
								<th>Fecha de Final</th>
							</tr>
							<tr>
								<td>0001</td>
								<td>Analisis Matematico I</td>
								<td>8</td>
								<td>12/04/2013</td>
							</tr>
							<tr>
								<td>0003</td>
								<td>Analisis Matematico II</td>
								<td>8</td>
								<td>12/04/2013</td>
							</tr>
							<tr>
								<td>0003</td>
								<td>Analisis Matematico III</td>
								<td>8</td>
								<td>12/04/2013</td>
							</tr>
							<tr>
								<td>0003</td>
								<td>Fisica I</td>
								<td>8</td>
								<td>12/04/2013</td>
							</tr>
							<tr>
								<td>0003</td>
								<td>Fisica II</td>
								<td>8</td>
								<td>12/04/2013</td>
							</tr>
							<tr>
								<td>0003</td>
								<td>Fisica III</td>
								<td>8</td>
								<td>12/04/2013</td>
							</tr>
							<tr>
								<td>0003</td>
								<td>Analisis Matematico II</td>
								<td>8</td>
								<td>12/04/2013</td>
							</tr>
					
						</table>
					</div>
					
					
				
			</aside>
		 </section>
			
	</section>
{% endblock %}
