{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<div class="bienvenida">
					<h2 style="color:#FF8000;">Bienvenido a E.G.A</h2>
					<h3 style="color:#FF8000;"><p>Plataforma web para la Gestion Academica del I.S.F.D Dr. Jose S. Salinas</p></h3>
					<hr>
					<h3 style="color:white;">Toda clase de certificados y documentos emitidos por EGA deben ser
					validados por Bedelia para su posterior presentacion
					</h3>
				</div>
			</aside>

		 </section>
			
	</section>
{% endblock %}
