{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<legend>
	         		<a href="{% url 'alumnos:index' %}" title="Volver"><img src="/static/ima/volver.png" class="img-responsive boton-volver"></a>
	         		<h2 style="color:#FF8000; font-family: 'Acme', sans-serif;">
	         			Listas de Materias a Cursar {{user.nombre_apellido}}
	         		</h2>
	         	</legend>
					<div class="table-responsive">
                 
						<table class="table table-bordered table-striped table-hover">
							<tr>
								<th>Alumno</th>
								<th>Materia</th>
								<th>Nota</th>
								<th>Fecha de Final</th>
							</tr>
								  {% for materias in lista_materias  %}							
							<tr style="color:black; font-family: 'Acme', sans-serif;">
								<td>{{ materias.alumno}}</td>
								<td>{{ materias.materia}}</td>
								<td>{{ materias.nota}}</td>
								<td>{{ materias.fecha}}</td>
							</tr>
								{% endfor %}
						</table>

					</div>
					<div class="imprimir">
				  	    <a href="{% url 'imprimir-materias' %}"> <img class="pdf" src="/static/ima/pdf.png" title="Descargar Comprobante" alt="Descargar"></a>
				   </div>
			</aside>
		 </section>
			
	</section>
{% endblock %}
