{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>

	         	<legend>
						<a href="{% url 'alumnos:index' %}" title="Volver"><img src="/static/ima/volver.png" class="img-responsive boton-volver"></a>
	         		Lista de Materias a rendir Final {{user.nombre_apellido}}</legend>
					<div class="table-responsive">
                 
						<table class="table table-bordered table-striped table-hover">
							<tr>
								<th>Alumno</th>
								<th>Codigo</th>
								<th>Materia</th>
								<th>Nota</th>
								<th>Fecha de Final</th>
								<th>Eliminar Inscripcion</th>
							</tr>
					  {% for materias in lista_materias  %}
							
							<tr>
								<td>{{ materias.alumno }}</td>
								<td>{{ materias.cod_inscripcion}}</td>
								<td>{{ materias.materia }}</td>
								<td>{{ materias.nota }}</td>
								<td>{{ materias.turno }}</td>
				<td><a href="{% url 'home:final_confirm_delete' materias.id %}"><img class="eliminar" src="/static/ima/eliminar.png" style="height: 25px;width: 25px;" title="Eliminar"></td></a>
							</tr>
							
						
						{% endfor %}

							
						</table>

					</div>
			<div class="imprimir">
		  	    <a href="{% url 'imprimir-finales' %}"> <img class="pdf" src="/static/ima/pdf.png" title="Descargar" ></a>
		   </div>
					
				
			</aside>
		 </section>
			
	</section>
{% endblock %}
