{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
			<aside>
				<div id="perfil">
				<img  src="{{MEDIA_URL}}perfil.jpg" alt="Perfil" class="img-rounded" width="200" >
				</div>
				
				<div id="datos">
				<label>Carrera: </label>Ingenieria en sistemas<br>
				<label>Nombre Y Apellido</label> Falon Fabian<br>
				<label>DNI</label>35541117<br>
				<label>Domicilio</label>Copiapo N°388<br>
						<input type="button" value="Modificar Datos" class="btn" >
						<input type="button" value="BOTON" class="btn" >
				</div>
					
					
						
			</aside>
		 </section>
			
	</section>
{% endblock %}
