{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}
{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
	         <aside>
	         	<div class="formedit">
					<legend style="color:#FF8000; font-family: 'Acme', sans-serif;">Modifique Sus Datos</legend>
					  <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %} 
										 {{ form.as_p }}
										 <br>
							<div class="row">														
									<button type="submit" class="btn btn-labeled btn-success">
									<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Guardar</button>
									<button type="button" class="btn btn-labeled btn-danger" onclick="apreteCancelar()">
									<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</button>

					    	</div>
					  </form>
				</div>
				<div class="imagenedit">

						<img  src="{{MEDIA_URL}}{{usuario.imagen}}" alt="Perfil" class="img-responsive  imaedit">

				</div>			
			</aside>
		 </section>
			
	</section>
	<script>
   function apreteCancelar(){
   		
		window.location='/index';
     

      }
</script>
{% endblock %}
