{% extends 'base.html' %}
{% block title %}E.G.A{% endblock %}

{% block content %}
	<section id="contenedor">
		<section id="principal" text-align="center" >
			<aside>
			<legend>
			<a href="{% url 'alumnos:index' %}" title="Volver"><img src="/static/ima/volver.png" class="img-responsive boton-volver"></a>
				Datos de {{usuario.nombre_apellido}}
			</legend>
				<div class="jumbotron" class ="datos1">
					<div class="container">

						<div  class="col-md-5" class="perfil">				
							<img  src="{{MEDIA_URL}}{{usuario.imagen}}" alt="Perfil" class=" img-responsive imaperfil">
						</div>
						
						<div class="datos">
						 
							<label>Carrera:&nbsp; </label>{{carrera}}<br>
							<label>Nombre Y Apellido:&nbsp; </label> {{usuario.nombre_apellido}}<br>
							<label>Nombre de Usuario:&nbsp; </label> {{usuario.username}}<br>
							<label>Matricula:&nbsp; </label> {{usuario.cod_alumno}}<br>
							<label>Fecha de Nacimiento:&nbsp; </label> {{usuario.fecha_nacimiento}}<br>
							<label>Email:&nbsp; </label>{{usuario.email}}<br>
							<label>DNI:&nbsp; </label>{{usuario.dni}}<br>
							<label>Usted Se logueo el dia:&nbsp; </label>{{usuario.fecha}}<br>

						<a href="{% url 'alumnos:user_update' user.username %}"><input type="button" value="Modificar Datos" class="btn btn-primary btn-lg" ></a>	
				
						</div>
					</div>
				</div>						
			</aside>
		 </section>
			
	</section>
{% endblock %}
