<!DOCTYPE html>
<html>
<head>
	<title>E.G.A</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 {% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2/base.css' %}">
	<script type="text/javascript" href="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="http://code.jquery.com/jquery-2.1.1.js"></script>
</head>
<body>

<div class="container header1">
		<div class="errordocumentacion">
				<center><h1>Lo sentimos lo que buscas no esta por aqui</h1></center>
				<center><h3>404 Error</h3></center>
		</div>

<div>
</body>
</html>